@using Dev_proc.Models.Enums
@using Dev_proc.Models.ViewModels.DeanViews
@using Dev_proc.Models.ViewModels.PositionViews
@model PracticeDiaryViewModel
@{
	ViewData["Title"] = "Companies Page";
}

<div class="text-left">
	<p class="h4">Student name: @Model.Surname @Model.Firstname @Model.Secondname</p>
	@if (@Model.PracticeDiary != null)
	{
		<p class="h4">
			User resume: @Model.PracticeDiary.Name
			<a href='@Url.Action("DownloadPracticeDiary","User", new {userId = @Model.UserId})' class="btn btn-info">Download practice diary</a>
		</p>
	}
	else
	{
		<p class="h4">Student deleted his pracitce diary</p>
	}
	<p>
		<select asp-for="PracticeDiaryStatus" asp-items="Html.GetEnumSelectList<PracticeDiaryStatus>()" class="form-control" disabled></select>
	</p>
	<p>
		<textarea asp-for="Comment" type="text" placeholder="Comment" value="@Model.Comment" class="form-control" rows="3" disabled></textarea>
	</p>
	<p>
		<a href='@Url.Action("Index","Home")' class="btn btn-primary">Back</a>
	</p>	
</div>
