@using Dev_proc.Constants.Configuration
@using Dev_proc.Constants
@using Dev_proc.Models.Identity
@using Microsoft.AspNetCore.Identity
@model Dev_proc.Models.Identity.User
@{
	ViewData["Title"] = Model.FullName;
}

<div class="text-left">
	@if (@Model.Company != null)
	{
		<p class="h3">@Model.Company.Name</p>
		<p>
			<a href='@Url.Action("AddPositionToCompany","Company", new {companyId = @Model.Company.Id})' class="btn btn-primary">Create position</a>
			@*TODO: add button to edit *@
			@if (@Model.Company.Positions.Count() > 0)
			{
				<a href='@Url.Action("ApplicationsForThisCompany","Position", new {companyId = @Model.Company.Id})' class="btn btn-secondary">All candidates</a>
			}
		</p>
		@foreach (var position in @Model.Company.Positions)
		{
			<p>
				<div class="card mb-3">
					<div class="card-header">@position.Name @CshtmlHelper.AvailablePlacesToName(position.AvailablePlaces)</div>
					<div class="card-body">
						<div class="card-text">@position.Description</div>
					</div>
				</div>
				<a href='@Url.Action("EditPosition","Position",new {positionId = position.Id})' class="btn btn-info">Edit</a>
				<a href='@Url.Action("DeletePosition","Position",new {positionId = position.Id})' class="btn btn-danger">Delete</a>
				<a href='@Url.Action("ApplicationsForThisPosition","Position",new {positionId = position.Id})' class="btn btn-secondary">Candidates</a>
			</p>
		}
	}
	else
	{
		<p class="h3">@Model.Email</p>
		<p class="h4">@Model.Surname</p>
		<p class="h4">@Model.Firstname</p>
		<p class="h4">@Model.Secondname</p>
		@if (Model.Resume == null)
		{
			<a href='@Url.Action("UploadResumeForStudent", new {userId = @Model.Id})'>Upload Resume</a>
		}
		else
		{
			<p class="h4">Your resume: @Model.Resume.Name</p>
			<p>
				<a href='@Url.Action("DeleteResumeForStudent", new {userId = @Model.Id})' class="btn btn-danger">Delete Resume</a>
				<a href='@Url.Action("DownloadResume", new {userId = @Model.Id})' class="btn btn-info">Download Resume</a>
				<a href='@Url.Action("CandidaturesForThisUser","Candidacy", new {userId = @Model.Id})' class="btn btn-primary">All your candidatures</a>
			</p>
		}

	}
</div>
