@using Dev_proc.Constants.Configuration
@using Dev_proc.Constants
@using Dev_proc.Models.Identity
@using Microsoft.AspNetCore.Identity
@model Dev_proc.Models.Identity.User
@{
	ViewData["Title"] = Model.FullName;
}

<div class="text-left">
	@if (@Model.Company != null)
	{
		<p class="h3">@Model.Company.Name</p>
		<p>
			<a href='@Url.Action("AddPositionToCompany","Company", new {companyId = @Model.Company.Id})' class="btn btn-primary">Create position</a>
			@if (@Model.Company.Positions.Count() > 0)
			{
				<a href='@Url.Action("ApplicationsForThisCompany","Position", new {companyId = @Model.Company.Id})' class="btn btn-secondary">All candidates</a>
			}
		</p>
		@foreach (var position in @Model.Company.Positions)
		{
			<p>
				<div class="card mb-3">
					<div class="card-header">@position.Name @CshtmlHelper.AvailablePlacesToName(position.AvailablePlaces)</div>
					<div class="card-body">
						<div class="card-text">@position.Description</div>
					</div>
				</div>
				<a href='@Url.Action("EditPosition","Position",new {positionId = position.Id})' class="btn btn-info">Edit</a>
				<a href='@Url.Action("DeletePosition","Position",new {positionId = position.Id})' class="btn btn-danger">Delete</a>
				<a href='@Url.Action("ApplicationsForThisPosition","Position",new {positionId = position.Id})' class="btn btn-secondary">Candidates</a>
			</p>
		}
	}
	else if (@Model.Dean != null)
	{
		<p class="h3">Dean: @Model.Dean.Name</p>
	}
	else
	{
		<div class="card">
			<div class="card-body">
				<p class="h3">@Model.Email</p>
				<p class="h4">@Model.Surname</p>
				<p class="h4">@Model.Firstname</p>
				<p class="h4">@Model.Secondname</p>
			</div>
		</div>
		@if (Model.Resume == null)
		{
			<div class="card">
				<div class="card-body">
					<a href='@Url.Action("UploadResumeForStudent", new {userId = @Model.Id})'>Upload Resume</a>
				</div>
			</div>
		}
		else
		{
			<div class="card">
				<div class="card-body">
					<p class="h4">Resume</p>
					<p>@Model.Resume.Name</p>
					<p>
						<a href='@Url.Action("DeleteResumeForStudent", new {userId = @Model.Id})' class="btn btn-danger">Delete Resume</a>
						<a href='@Url.Action("DownloadResume", new {userId = @Model.Id})' class="btn btn-info">Download Resume</a>
						<a href='@Url.Action("CandidaturesForThisUser","Candidacy", new {userId = @Model.Id})' class="btn btn-primary">All your candidatures</a>
					</p>
				</div>
			</div>
		}
		@if (Model.PracticeDiary == null)
		{
			<div class="card">
				<div class="card-body">
					<a href='@Url.Action("UploadPracticeDiaryForStudent", new {userId = @Model.Id})'>Upload practice diary</a>
				</div>
			</div>
		}
		else
		{
			<div class="card">
				<div class="card-body">
					<p class="h4">Practice diary</p>
					<p>@Model.PracticeDiary.Name</p>
					<p>
						<a href='@Url.Action("DeletePracticeDiaryForStudent", new {userId = @Model.Id})' class="btn btn-danger">Delete practice diary</a>
						<a href='@Url.Action("DownloadPracticeDiary", new {userId = @Model.Id})' class="btn btn-info">Download practice diary</a>
						<a href='@Url.Action("StudentCheckPracticeDiary","Dean", new {userId = @Model.Id})' class="btn btn-primary">Check practice diary status</a>
					</p>
				</div>
			</div>
		}

	}
	@if (User.IsInRole(ApplicationRoleNames.Dean) || User.IsInRole(ApplicationRoleNames.Administrator))
	{
		<p>
			<a href='@Url.Action("StudentsList","Dean")' class="btn btn-primary">Students list</a>
			<p>
				<h4>Create accounts:</h4>
			@if (User.IsInRole(ApplicationRoleNames.Administrator))
			{
				<a href='@Url.Action("CreateDean","Dean")' class="btn btn-warning">Create dean profile</a>
				
			}
			<a href='@Url.Action("CreateCompany","Dean")' class="btn btn-info">Create company account</a>
			<a href='@Url.Action("CreateStudent","Dean")' class="btn btn-info">Create student account</a>
			<a href='@Url.Action("CreateStudentsGroup","Dean")' class="btn btn-info">Create accounts for group</a>
			</p>
		</p>
	}

</div>
