@model Dev_proc.Models.Identity.User
@{
	ViewData["Title"] = Model.FullName;
}

<div class="text-left">
	<p class="h3">@Model.Email</p>
	<p class="h4">@Model.Surname</p>
	<p class="h4">@Model.Firstname</p>
	<p class="h4">@Model.Secondname</p>
	@if(Model.Resume == null){
		<a href='@Url.Action("UploadResumeForStudent", new {userId = @Model.Id})'>Upload Resume</a>
	}
	else
	{
		<p class="h4">Your resume: @Model.Resume.Name</p>
		<a href='@Url.Action("DeleteResumeForStudent", new {userId = @Model.Id})'>Delete Resume</a>
	}
	
</div>
