@using Dev_proc.Constants
@using Dev_proc.Models.Enums
@using Dev_proc.Models.ViewModels.CandidacyViews
@using Dev_proc.Models.ViewModels.PositionViews
@model StudentCandidacyView
@{
	ViewData["Title"] = "Companies Page";
	CandidateStatus? candidateStatus = null;
}

<div class="text-left">
	<form method="get">
		<input type="hidden" name="userId" value="@Model.UserId" id="uploadCompanyId" />
		<select name="candidateStatus" asp-items="Html.GetEnumSelectList<CandidateStatus>()">
			<option value=@null>All</option>
		</select>
		<input type="submit" value="Sort" />
	</form>
	@if (@Model.Candidatures?.Count == 0)
	{
		<p><h2>Your candidatures list is empty</h2></p>
		<p><a href='@Url.Action("CompaniesList","Company")' class="btn btn-primary">Companies</a></p>

	}
	@foreach (var candidature in @Model.Candidatures)
	{
		<p>
			<div class="card mb-3">
				<div class="card-header">Position name: @candidature.Position.Name @CshtmlHelper.AvailablePlacesToName(candidature.Position.AvailablePlaces)</div>
				<div class="card-body">
					<div class="card-text">Description: @candidature.Position.Description</div>
				</div>
			</div>
			<a href='@Url.Action("CheckYourCandidacy","Candidacy",new {userId = @Model.UserId, positionId = candidature.Position.Id})' class="btn @CshtmlHelper.CandidatureStatusColor(candidature.Status)">Check</a>
		</p>
		<hr />
	}
</div>