@using Dev_proc.Models.Enums
@using Dev_proc.Models.ViewModels.CandidacyViews
@using Dev_proc.Models.ViewModels.PositionViews
@model CandidacyViewModel
@{
	ViewData["Title"] = "Companies Page";
	var selectList = Enum.GetValues(typeof(CandidateStatus))
								.Cast<CandidateStatus>()
								.Where(e => e != CandidateStatus.Accepted)
								.Select(e => new SelectListItem
							   {
								   Value = ((int)e).ToString(),
								   Text = e.ToString()
							   });
}

<form asp-action="CheckCandidature" asp-controller="Candidacy" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="CandidatureId" value="@Model.CandidatureId" id="uploadCompanyId" />
	<p class="h4">Position: @Model.PositionName</p>
	<p class="h4">User Email: @Model.Email</p>
	@if (@Model.Resume != null)
	{
		<p class="h4">
			User resume: @Model.Resume.Name
			<a href='@Url.Action("DownloadResume","User", new {userId = @Model.UserId})' class="btn btn-info">Download Resume</a>
		</p>
	}
	else
	{
		<p class="h4">User deleted his resume</p>
	}
	@if (@Model.CandidateStatus == CandidateStatus.Accepted)
	{
		<p class="fs-1">Student already in your company, contact the dean to remove the student</p>
		<a href='@Url.Action("Index","User")' class="btn btn-primary">Back to profile</a>
	}
	else
	{
		<p>
			<select asp-for="CandidateStatus" asp-items="selectList" class="form-control"></select>
		</p>
		<p>
			<textarea asp-for="Comment" type="text" placeholder="Comment" value="@Model.Comment" class="form-control" rows="3"></textarea>
		</p>
		<p>
			<input type="submit" value="Save" />
		</p>
	}

</form>
